<section id="home-hero"  class="layout-hero default-breathing" style="background-color:#263d52;" >

	<div class="hero hero-medium" data-bgimg="eydkZWZhdWx0JzonXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvY2hlY2tyX2hlYWRlcl9pbmR1c3RyaWVzLTEuanBnJywnbW9iaWxlJzonXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvY2hlY2tyX2hlYWRlcl9pbmR1c3RyaWVzLTEtNjQweDE3MS5qcGcnLCcobWluLXdpZHRoOjMyMHB4KSBhbmQgKC13ZWJraXQtZGV2aWNlLXBpeGVsLXJhdGlvOiAyKSc6J1wvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL2NoZWNrcl9oZWFkZXJfaW5kdXN0cmllcy0xLTEwMjR4MjczLmpwZycsJyhtaW4td2lkdGg6NjQwcHgpJzonXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvY2hlY2tyX2hlYWRlcl9pbmR1c3RyaWVzLTEtMTAyNHgyNzMuanBnJywnKG1pbi13aWR0aDo2NDBweCkgYW5kICgtd2Via2l0LWRldmljZS1waXhlbC1yYXRpbzogMiknOidcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMTVcLzEwXC9jaGVja3JfaGVhZGVyX2luZHVzdHJpZXMtMS0xMjAweDMyMC5qcGcnLCcobWluLXdpZHRoOjEwMDBweCknOidcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMTVcLzEwXC9jaGVja3JfaGVhZGVyX2luZHVzdHJpZXMtMS0xMjAweDMyMC5qcGcnLCcobWluLXdpZHRoOjEwMDBweCkgYW5kICgtd2Via2l0LWRldmljZS1waXhlbC1yYXRpbzogMiknOidcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMTVcLzEwXC9jaGVja3JfaGVhZGVyX2luZHVzdHJpZXMtMS5qcGcnLCcobWluLXdpZHRoOjEyMDBweCknOidcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMTVcLzEwXC9jaGVja3JfaGVhZGVyX2luZHVzdHJpZXMtMS5qcGcnfQ==" style="background-image: url('https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/checkr_header_industries-1-76x20.jpg');">


<div class="container bleed">
	
	<div class="column six">
		<div class="content kitchensink">

			<h1>Hire great people. Faster.</h1>
			<p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>
			<p><a class="button yellow with-arrow" href="http://checkr.com/product/">EXPLORE NOW</a></p>

		</div>
	</div>
	
	<div class="column six">
		<div class="video">
			<video id="demo-vid" class="video-js" controls="false" autoplay loop preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634" data-setup="{}">
				<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type='video/mp4' />
				<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type='video/webm' />
				<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634" />
			</video>
		</div>
	</div>

</div>

<img src="data:image/gif;base64,R0lGODlhHgATAIAAAP///wAAACH5BAAAAAAALAAAAAAeABMAAAIWhI+py+0Po5y02ouz3rz7D4biSJZNAQA7" width="30" height="19" class="sizer" />
</section>