<section id="home-clients" class="layout-content_in_columns sm-breathing" >
	<div class="container lead-in-content">
		<div class="column twelve">
			<div class="content kitchensink">
				<h3 style="text-align: center;">More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h3>
			</div>
		</div>
	</div>

	<div class="container mosaic bleed">
		<div class="column two">
			<div class="content">
				<figure id="2391" class="progressive_image js-not_loaded has_zoom has_bleed" width="244" height="49" style="max-width:100%" itemscope="" itemtype="http://schema.org/ImageObject">
					<div class="aspect_ratio_placeholder" style="max-width:100%"  style="background-image:url('');">
						<div class="aspect_ratio_fill" style="padding-bottom:20.081967213115%;"></div>
						<div class="progressiveMedia is-imageLoaded" style="max-width:100%">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/instacart-logo@2x-76x15.png" class="low-quality-image" style="max-width:100%" itemscope="contentUrl" content=""/>
							<div class="js-swap-for-picture" data-image_info="eyIobWF4LXdpZHRoOjY0MHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL2luc3RhY2FydC1sb2dvQDJ4LnBuZyIsIihtaW4td2lkdGg6NjQwcHgpIjoiXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvaW5zdGFjYXJ0LWxvZ29AMngucG5nIiwiKG1pbi13aWR0aDoxMDAwcHgpIjoiXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvaW5zdGFjYXJ0LWxvZ29AMngucG5nIn0="></div>
							<noscript><img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/instacart-logo@2x.png" data-action="zoom" /></noscript>
						</div>
					</div>
				</figure>						
			</div>
		</div>
		
		<div class="column two">
											<div class="content">
																		<figure id="1868" class="progressive_image js-not_loaded has_zoom has_bleed" width="200" height="70" style="max-width:100%" itemscope="" itemtype="http://schema.org/ImageObject"><div class="aspect_ratio_placeholder" style="max-width:100%"  style="background-image:url('');"><div class="aspect_ratio_fill" style="padding-bottom:35%;"></div><div class="progressiveMedia is-imageLoaded" style="max-width:100%"><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/logo_grubhub_update-76x27.gif" class="low-quality-image" style="max-width:100%" itemscope="contentUrl" content=""/><div class="js-swap-for-picture" data-image_info="eyIobWF4LXdpZHRoOjY0MHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL2xvZ29fZ3J1Ymh1Yl91cGRhdGUuZ2lmIiwiKG1pbi13aWR0aDo2NDBweCkiOiJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMTVcLzEwXC9sb2dvX2dydWJodWJfdXBkYXRlLmdpZiIsIihtaW4td2lkdGg6MTAwMHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL2xvZ29fZ3J1Ymh1Yl91cGRhdGUuZ2lmIn0="></div><noscript><img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/logo_grubhub_update.gif" data-action="zoom" /></noscript></div></div></figure>						</div>
									</div>
							<div class="column two">
											<div class="content">
																		<figure id="2282" class="progressive_image js-not_loaded has_zoom has_bleed" width="325" height="82" style="max-width:100%" itemscope="" itemtype="http://schema.org/ImageObject"><div class="aspect_ratio_placeholder" style="max-width:100%"  style="background-image:url('');"><div class="aspect_ratio_fill" style="padding-bottom:25.230769230769%;"></div><div class="progressiveMedia is-imageLoaded" style="max-width:100%"><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/02/Uber_white_2@2x-76x19.jpeg" class="low-quality-image" style="max-width:100%" itemscope="contentUrl" content=""/><div class="js-swap-for-picture" data-image_info="eyIobWF4LXdpZHRoOjY0MHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNlwvMDJcL1ViZXJfd2hpdGVfMkAyeC5qcGVnIiwiKG1pbi13aWR0aDo2NDBweCkiOiJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMTZcLzAyXC9VYmVyX3doaXRlXzJAMnguanBlZyIsIihtaW4td2lkdGg6MTAwMHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNlwvMDJcL1ViZXJfd2hpdGVfMkAyeC5qcGVnIn0="></div><noscript><img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/02/Uber_white_2@2x.jpeg" data-action="zoom" /></noscript></div></div></figure>						</div>
									</div>
							<div class="column two">
											<div class="content">
																		<figure id="2449" class="progressive_image js-not_loaded has_zoom has_bleed" width="200" height="200" style="max-width:100%" itemscope="" itemtype="http://schema.org/ImageObject"><div class="aspect_ratio_placeholder" style="max-width:100%"  style="background-image:url('');"><div class="aspect_ratio_fill" style="padding-bottom:100%;"></div><div class="progressiveMedia is-imageLoaded" style="max-width:100%"><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/postmates_logo_s-1-76x76.png" class="low-quality-image" style="max-width:100%" itemscope="contentUrl" content=""/><div class="js-swap-for-picture" data-image_info="eyIobWF4LXdpZHRoOjY0MHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL3Bvc3RtYXRlc19sb2dvX3MtMS5wbmciLCIobWluLXdpZHRoOjY0MHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL3Bvc3RtYXRlc19sb2dvX3MtMS5wbmciLCIobWluLXdpZHRoOjEwMDBweCkiOiJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMTVcLzEwXC9wb3N0bWF0ZXNfbG9nb19zLTEucG5nIn0="></div><noscript><img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/postmates_logo_s-1.png" data-action="zoom" /></noscript></div></div></figure>						</div>
									</div>
							<div class="column two">
											<div class="content">
																		<figure id="959" class="progressive_image js-not_loaded has_zoom has_bleed" width="319" height="69" style="max-width:100%" itemscope="" itemtype="http://schema.org/ImageObject"><div class="aspect_ratio_placeholder" style="max-width:100%"  style="background-image:url('');"><div class="aspect_ratio_fill" style="padding-bottom:21.630094043887%;"></div><div class="progressiveMedia is-imageLoaded" style="max-width:100%"><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/zenefits-76x16.gif" class="low-quality-image" style="max-width:100%" itemscope="contentUrl" content=""/><div class="js-swap-for-picture" data-image_info="eyIobWF4LXdpZHRoOjY0MHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL3plbmVmaXRzLmdpZiIsIihtaW4td2lkdGg6NjQwcHgpIjoiXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvemVuZWZpdHMuZ2lmIiwiKG1pbi13aWR0aDoxMDAwcHgpIjoiXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvemVuZWZpdHMuZ2lmIn0="></div><noscript><img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/zenefits.gif" data-action="zoom" /></noscript></div></div></figure>						</div>
									</div>
							<div class="column two">
											<div class="content">
																		<figure id="2300" class="progressive_image js-not_loaded has_zoom has_bleed" width="150" height="70" style="max-width:100%" itemscope="" itemtype="http://schema.org/ImageObject"><div class="aspect_ratio_placeholder" style="max-width:100%"  style="background-image:url('');"><div class="aspect_ratio_fill" style="padding-bottom:46.666666666667%;"></div><div class="progressiveMedia is-imageLoaded" style="max-width:100%"><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/Handy@2x-76x35.jpg" class="low-quality-image" style="max-width:100%" itemscope="contentUrl" content=""/><div class="js-swap-for-picture" data-image_info="eyIobWF4LXdpZHRoOjY0MHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL0hhbmR5QDJ4LmpwZyIsIihtaW4td2lkdGg6NjQwcHgpIjoiXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvSGFuZHlAMnguanBnIiwiKG1pbi13aWR0aDoxMDAwcHgpIjoiXC93cC1jb250ZW50XC91cGxvYWRzXC8yMDE1XC8xMFwvSGFuZHlAMnguanBnIn0="></div><noscript><img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/Handy@2x.jpg" data-action="zoom" /></noscript></div></div></figure>						</div>
									</div>
						</div>
</section>
