<section class="cta_tour">
<div class="container">
	<div class="column tour-image justify-center">
		<div class="cta-content">
						<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/fake-promo.png" />
		</div>
	</div>

	<div class="column tour-content items-center-center">
		<div class="cta-content">
			<p class="h1">Take a Tour</p>
<p>See why Checkr is the most reliable option for your background check needs.</p>
		</div>
	</div>

	<div class="column tour-page-link items-center-center">
		<div class="cta-content">
			<a href="https://checkr.com/contact/" class="button blue with-arrow">Schedule a Demo</a>
		</div>
	</div>
</div>
</section>