<section id="home-value-propositions" class="layout-content_in_columns sm-breathing" style="background-color:#f5f9fb;" >
			<div class="container lead-in-content">
			<div class="column twelve">
				<div class="content kitchensink">
					<h3 style="text-align: center;">The Next Generation of Background Checks</h3>
				</div>
			</div>
		</div>
		<div class="container one-third">
													<div class="column twelve">
											<div class="content kitchensink">
							<p style="text-align: center;"><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-mobile.svg" class="aligncenter" /></p>
<p style="text-align: center;"><strong>Mobile-Friendly</strong></p>
<p style="text-align: center;">Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
						</div>
									</div>
							<div class="column twelve">
											<div class="content kitchensink">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-computer_easy.svg" class="aligncenter" />
<p style="text-align: center;"><strong>Easy to Understand</strong></p>
<p style="text-align: center;">Color-coded reports and an intuitive interface makes it possible to review information faster. <a href="http://checkr.com/sample-report/">See a sample employee background report.</a></p>
						</div>
									</div>
							<div class="column twelve">
											<div class="content kitchensink">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-automation.svg" class="aligncenter" />
<p style="text-align: center;"><strong>Convenient Automation</strong></p>
<p style="text-align: center;">Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
						</div>
									</div>
							<div class="column twelve">
											<div class="content kitchensink">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-communications.svg" class="aligncenter" />
<p style="text-align: center;"><strong>Simplified and Compliant Communication</strong></p>
<p style="text-align: center;">Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
						</div>
									</div>
							<div class="column twelve">
											<div class="content kitchensink">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-analytics.svg" class="aligncenter" />
<p style="text-align: center;"><strong>Fast and Accurate</strong></p>
<p style="text-align: center;">Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
						</div>
									</div>
						</div>
</section>
