<section id="home-information" class="layout-content_in_columns sm-breathing" >
			<div class="container lead-in-content">
			<div class="column twelve">
				<div class="content kitchensink">
					<h3 style="text-align: center;">Information for Applicants</h3>
				</div>
			</div>
		</div>
		<div class="container one-half padding">
													<div class="column six">
											<div class="content kitchensink">
							<p><strong>Checkr provides the support you deserve.</strong></p>
<ul>
<li>Responsive U.S.-based customer service</li>
<li>Status tracking available through the applicant portal</li>
<li>Support available by phone or email</li>
</ul>
<p><a class="button borderless with-arrow" href="https://applicant.checkr.com/">Visit CHECKR&#8217;S APplicant Portal</a></p>
						</div>
									</div>
							<div class="column six">
											<div class="content kitchensink">
							<p>“First of all, thank you for informing me of the progress regarding your process. That is not only professional but exemplifies a degree of courtesy other companies would be smart to model.”</p>
<div class="testimonial">
<figure id="1870" class="progressive_image js-not_loaded has_zoom" width="" height="" style="max-width:100px;" itemscope="" itemtype="http://schema.org/ImageObject"><div class="aspect_ratio_placeholder" style="max-width:100px;"  style="background-image:url('');"><div class="aspect_ratio_fill" style="padding-bottom:100%;"></div><div class="progressiveMedia is-imageLoaded" style="max-width:100px;"><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/user-76x76.gif" class="low-quality-image" style="max-width:100px;" itemscope="contentUrl" content=""/><div class="js-swap-for-picture" data-image_info="eyIobWF4LXdpZHRoOjY0MHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL3VzZXIuZ2lmIiwiKG1pbi13aWR0aDo2NDBweCkiOiJcL3dwLWNvbnRlbnRcL3VwbG9hZHNcLzIwMTVcLzEwXC91c2VyLmdpZiIsIihtaW4td2lkdGg6MTAwMHB4KSI6Ilwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAxNVwvMTBcL3VzZXIuZ2lmIn0="></div><noscript><img class="progressiveMedia-noscript js-progressiveMedia-inner" src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/user.gif" data-action="zoom" /></noscript></div></div></figure>
<p><strong>Peter D.</strong></p>
<p>Grubhub applicant</p>
</div>
						</div>
									</div>
						</div>
</section>
