<section id="home-compliance-and-security-features" class="layout-content_in_columns sm-breathing" style="background-color:#f5f9fb;" >
			<div class="container lead-in-content">
			<div class="column twelve">
				<div class="content kitchensink">
					<h3 style="text-align: center;">Best in Class Compliance and Security</h3>
				</div>
			</div>
		</div>
		<div class="container mosaic padding">
													<div class="column four">
											<div class="content kitchensink">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-magnify_glass.svg" class="aligncenter" />
<p>Screenings</p>
<ul>
<li>Criminal Records</li>
<li>Driving Records</li>
<li>Employment Verifications</li>
<li>International Verifications</li>
<li>Drug screening</li>
</ul>
<p><a class="button borderless with-arrow" href="http://checkr.com/product/screenings/">REVIEW ALL OF CHECKR’S SCREENING SERVICES</a></p>
						</div>
									</div>
							<div class="column four">
											<div class="content kitchensink">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-user_check.svg" class="aligncenter" />
<p>Compliance</p>
<ul>
<li>Compliant with state and federal laws, including FCRA</li>
<li>NAPBS accreditation</li>
<li>Experienced in-house compliance and investigation team</li>
</ul>
<p><a class="button borderless with-arrow" href="http://checkr.com/product/compliance/">VISIT OUR COMPLIANCE LEARNING CENTER</a></p>
						</div>
									</div>
							<div class="column four">
											<div class="content kitchensink">
							<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-lock_alt.svg" class="aligncenter" />
<p>Security</p>
<ul>
<li>Data encrypted using bank-grade standards</li>
<li>Non-stop monitoring</li>
<li>Infrastructure built for high availability</li>
</ul>
<p><a class="button borderless with-arrow" href="http://checkr.com/product/security/">SEE WHY WE’RE TRUSTED BY WORLD-CLASS COMPANIES</a></p>
						</div>
									</div>
						</div>
</section>
