<section>
	<header>
		<h1>Throw away the duct tape. <br>
		Say hello to Flynn.</h1>
	</header>	

	<video id="video" controls poster="https://flynn.io/images/flynn_demo_poster-80eaa060.jpg">
    	<source src="https://dl.flynn.io/assets/flynn_demo_2m.mp4" type="video/mp4">
  	</video>
</section>