<section>
	<header>
		<h3>Growth is hard.</h3>
	</header>
	<div>
	
	<p>
      Users love your product and you're growing like crazy.  Your engineering
      team is already stretched thin keeping up with growth.
    </p>

    <p>
      You're using more cloud instances, apps, containers, languages,
      frameworks, and databases.
    </p>

    <p>
      Your ops team (if you have one) is already under water trying to keep up.
    </p>

    <p>
      Flynn helps you breeze through those challenges.
    </p>

    <p>
      Developers can deploy with a single command straight from git. Operators
      manage a single platform instead of doing custom work before each app can
      be deployed.
    </p>

    <p>
      Databases manage themselves. Service discovery, scheduling, containers,
      routing, and cluster management are all taken care of in the background.
    </p>

	</div>
</section>