<section>
	<header>
		<h3>We can run it for you.</h3>
	</header>

	<div>

    <p>
    You can run Flynn yourself or our experienced team can install, run, and
    manage a Flynn cluster for you. We work with your developers to help you
    get the most out of Flynn and your apps. And since Flynn is 100% open
    source there's no lock-in.
    </p>

    <p>
    We can also support your ops, IT, or sysadmins team 24/7 if you prefer to
    handle things yourself but still want help on call.
    </p>

	</div>
</section>