<section>
	<header>
		<h3>Your world is changing too quickly.</h3>
	</header>

	<div>

    <p>
      New languages, frameworks, version control systems, databases,
      architectures, and other bleeding-edge technologies are taking over,
      fast.
    </p>

    <p>
      You need containers, microservices, polyglot everything, and cost savings
      yesterday.
    </p>

    <p>
      Developers need the best tools for the job in a changing world. Operators
      and IT teams need a platform they can manage instead of building
      everything from scratch, one piece at a time.
    </p>

    <p>
      Flynn has you covered. All the shiny new best practices in a single
      turnkey solution.
    </p>

    <p>
      It's free and open source so you can have tomorrow's technology today
      without any lock-in.
    </p>

	</div>
</section>