<section>
	<header>
		<h2> Powerful and easy. The way it should be.</h2>
	</header>
	
	<div>
		<p> Flynn is an open source platform (PaaS) for running applications in production.</p>

		<p> It does everything you need, out of the box: </p>

			<ul>
		    	<li>Creates running applications directly from your code so there's no need to learn configuration management or build custom stacks for each app</li>
		    	<li>Routes and load balances traffic to every instance of each of your apps</li>
		    	<li>Includes built-in Postgres, MySQL, and MongoDB databases with safe, automatic high availability</li>
		    	<li>Connects all your microservices with built-in service discovery</li>
		    	<li>Makes scaling your cluster to just the right size easy so you save money on your cloud bills</li> 
			</ul>
	</div>

</section>