<section>
	<header>
		
		<h2>Whatever you need, Flynn can help.</h2>
		<h3> Getting apps running in the cloud is way too hard.</h3>

	</header>

		<p>
		    Deployment. Ops. Databases. Containers. Configuration management.
		    Service discovery. Forget about all of them.
    	</p>

	    <p>
	      Flynn is all you need to know.
	    </p>

	    <p>
	      Flynn is a simple, turnkey solution to cloud, containers, ops, whatever
	      you want to call it. Flynn manages all the technology you need under the
	      surface. So you get all the benefits with none of the work or complexity.
	    </p>

	    <p>
	      Get back to writing your app and running your business.
	    </p>

	    <p>
	      And Flynn gets better everyday. We track the infrastructure space closely
	      and regularly integrate new components and features, so you get the best
	      technology without having to figure out how everything fits together.
	    </p>

	    <p>
	      And like all good things, it's completely free.
	    </p>


</section>