<% content_for :head do %>
	<%= render 'layouts/index-head' %>
<% end %>

<div id="home-links">
	<h1>LANDING PAGES</h1>

	<h2><%= link_to 'Checkr', checkr_path %></h2>
	<h2><%= link_to 'Flynn', flynn_path %></h2>
<div>