<nav class="nav-2">
	<ul>
    	<li class="hoverable-li" id="item-1">
      		<a href="/apps">Apps</a>
    	</li>

   		<li class="hoverable-li" id="item-2">
      		<a href="/manage">Manage</a>
    	</li>

	    <li class="hoverable-li" id="item-3">
    		<a href="/databases">Databases</a>
    	</li>
	</ul>
</nav>