<nav class="nav-top-1">
	<ul>
		<li>
			<a href="/"><%= image_tag("flynn_logo.svg", :class => "nav-logo", size: "88x35", alt: "Flynn" ) %></a>
		</li>

		<li id="spacer"></li>

		<li>3</li>
		<li>4</li>
		<li>5</li>
		<li>6</li>
		<li>7</li>
	</ul>
</nav>
