* {
	box-sizing: border-box;
}

body {
	background-color: white;
}

.nav-top-1 {
	
}


.nav-top-1 ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;

	line-height: 82px;

	list-style: none;
}

#nav-logo {
}

#spacer {
	min-width: 540px;
}