#home-links {
	
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 1020px;
	margin: auto;

	font-family: 'Montserrat-Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-size: 16px;
}

a {
	text-decoration: none;
	color: rgb(140,185,185);
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    line-height: 1.2em;
 
    margin: 0;
    padding: 0;
    
    position: relative;
	text-align: center;

}

h1 {
	font-size: 4.5rem;
}

h2 {
	font-size: 3.425rem;
}